@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-dropdown-toggle::after {
  display: none;
}

/* makes the carousel arrows black*/
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: black;
  filter: invert(90%);
}
